.container {
  width: 1180px;
  margin: 0 auto;
  padding: 0 5px;
}

body {
  background-color: orange;
  color: white;
  font: sans-serif;
}

header img {
  width: 500px;
}

header {
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin-right: 10px;
  margin-bottom: 50px;
  flex-basis: calc(30%);
}

.card img {
  width: 350px;
}

h3 {
  margin: 10px;
}

footer {
  text-align: center;
}