body{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: $colore-testo;
    // font: $font-primario;
    font-family: $font-primario;
}

img{
    max-width: 100%;
}
