body{
    background-color: white;
    color: $colore-testo;
    font: $font-primario;
}

// header
header img{
    width: 500px;
    // height: auto;
}

header{
    text-align: center;
}

header nav ul{
    display: flex;
    justify-content: center;    
}

header nav ul li{
    margin-right: 10px;
    list-style: none;
}

header ul li a{
    text-decoration: none;
    color: $colore-testo;
}