body{
    background-color: $colore-background;
    color: $colore-testo;
    font: $font-primario;
}

// header
header img{
    width: 500px;
    // height: auto;
}

header{
    text-align: center;
}